{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}
        ip_block.title
    {% endtrans %}
{% endblock %}

{% block body %}
    <h1>Ton compte est bloqué Mother Fucker</h1>
{% endblock %}