{% extends 'base.html.twig' %}

{% block title %}{% trans %}connect.title{% endtrans %}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">
            {% if error.message == "Bad credentials." %}
                {% trans %}
                    security.user.email
                {% endtrans %}
                {% elseif error.message == "The presented password is invalid." %}
                    {% trans %}
                        security.user.password
                    {% endtrans %}
                {% elseif error.message == "Your user account is blocked." %}
                    {% trans %}
                        security.user.block_attempt
                    {% endtrans %}
            {% endif %}
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{% trans %}user.connexion.title{% endtrans %}</h1>
    <label for="inputEmail">{% trans %}email.label{% endtrans %}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">{% trans %}password.label{% endtrans %}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Go
    </button>
    <a href="#" class="form__helper forgotten_pass"><i class="fas fa-user-lock" data-toggle="tooltip" data-placement="right" title="Mot de passe oublié" ></i></a>
    <a href="#" class="form__helper registration"><i class="far fa-edit" data-toggle="tooltip" data-placement="left" title="Inscription" ></i></a>
</form>
{% endblock %}
